{% extends 'base.html' %}

{% block content %}
<h1>History</h1>
{% for history in histories %}
<h3>{{history.title}}</h3>
<button class="btn btn-danger" onclick="deleteHistory('{{history.title}}')">Delete</button>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        {% for person in history.final_decision %}
        <tr>
            <td>
                {{ person[0] }}
            </td>
            <td>
                {{ person[1] }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}
</div>

<script>
    function deleteHistory(title) {
        console.log("delete");

        const headers = {
            "Content-Type": "application/json"
        };
        const
            jsonData = {
                title: title
            }
        axios.post('/delete-history', jsonData)
            .then(function (response) {
                console.log(response);
                window.location.reload();
            })
            .catch(function (error) {
                console.log(error);
            });
    }
</script>
{% endblock %}